.h1round{
    border: solid white  8px;
    width: 8%;
    text-align: center;
}
.about{
    text-align: center;
}
.services{
    position: relative;
}
body{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    overflow-x: hidden;
    padding: 40px;
}
.port{
    justify-content: space-evenly;
    text-align: left;
}
.portfolio{
    justify-content: space-around;
    justify-content: space-evenly;
    text-align: left;
}
.wk{
    padding-right: 4%;
    position: relative;
}
.contacts{
    position: relative;
}
.contact-us {
	width: 100%;
	color: white;
}
.services2{
    margin-bottom: 7%;
}
.product,.design ,.development {
    display: none;
}
.appear1{
    background-color: rgba(200,200,200,0.5);
    color: black;
    text-align: center;
    padding: 20%;
    display: none;
}
.appear2{
    background-color: rgba(200,200,200,0.5);
    color: black;
    text-align: center;
    padding: 20%;
    display: none;
}
.appear3{
    background-color: rgba(200,200,200,0.5);
    color: black;
    text-align: center;
    padding: 20%;
    display: none;
}
.appear4{
    background-color: rgba(200,200,200,0.5);
    color: black;
    text-align: center;
    padding: 20%;
    display: none;
}
.appear5{
    background-color: rgba(200,200,200,0.5);
    color: black;
    text-align: center;
    padding: 20%;
    display: none;
}
.appear6{
    background-color: rgba(200,200,200,0.5);
    color: black;
    text-align: center;
    padding: 20%;
    display: none;
}
.appear7{
    background-color: rgba(200,200,200,0.5);
    color: black;
    text-align: center;
    padding: 20%;
    display: none;
}
.appear8{
    background-color: rgba(200,200,200,0.5);
    color: black;
    text-align: center;
    padding: 20%;
    display: none;
}