.h1round{
    border: solid white  8px;
    width: 8%;
    text-align: center;
}
.about{
    text-align: center;
}
.services{
    position: relative;
}
body{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    overflow-x: hidden;
    padding: 40px;
}
.port{
    justify-content: space-evenly;
    text-align: left;
}
.portfolio{
    justify-content: space-around;
    justify-content: space-evenly;
    text-align: left;
}
.wk{
    padding-right: 4%;
    position: relative;
}
.contacts{
    position: relative;
}
.contact-us {
	width: 100%;
	color: white;
}
.services2{
    margin-bottom: 7%;
}
.product,.design ,.development {
    display: none;
}
.appear1{
    background-color: rgba(200,200,200,0.5);
    color: black;
    text-align: center;
    padding: 20%;
    display: none;
}
.appear2{
    background-color: rgba(200,200,200,0.5);
    color: black;
    text-align: center;
    padding: 20%;
    display: none;
}
.appear3{
    background-color: rgba(200,200,200,0.5);
    color: black;
    text-align: center;
    padding: 20%;
    display: none;
}
.appear4{
    background-color: rgba(200,200,200,0.5);
    color: black;
    text-align: center;
    padding: 20%;
    display: none;
}
.appear5{
    background-color: rgba(200,200,200,0.5);
    color: black;
    text-align: center;
    padding: 20%;
    display: none;
}
.appear6{
    background-color: rgba(200,200,200,0.5);
    color: black;
    text-align: center;
    padding: 20%;
    display: none;
}
.appear7{
    background-color: rgba(200,200,200,0.5);
    color: black;
    text-align: center;
    padding: 20%;
    display: none;
}
.appear8{
    background-color: rgba(200,200,200,0.5);
    color: black;
    text-align: center;
    padding: 20%;
    display: none;
}
@media screen and  (max-width : 1024px){
    #homeimg{
        display: none;
    }
   #welcome{
       position: relative;
       color: black;
       background-color: chocolate;
       width: 100% auto;
       left: 0;
       right: 0;
   }
   #servicesimg{
       display: none;
   }
   #servicestext{
       position: relative;
       color: black;
       background-color: coral;
       margin-left: 0 auto;
       right: 0;
       width: 100% auto;
   
   }
   #contactsimg{
       display: none;
   }
   #contactstext{
       color: black;
       position: relative;
       background-color: cornflowerblue;
       background-color: rgba(200,200,200,0.5);
       width: 100% auto;
       left: 0;
       right: 0;
   }
   body{
       overflow-x: hidden;
       width: 100% auto;
   }
   }
@media screen and  (max-width : 480px){
 #homeimg{
     display: none;
 }
#welcome{
    position: relative;
    color: black;
    background-color: chocolate;
    width: 100% auto;
}
#servicesimg{
    display: none;
}
#servicestext{
    position: relative;
    color: black;
    background-color: coral;
    width: 100% auto;

}
#contactsimg{
    display: none;
}
#contactstext{
    color: black;
    position: relative;
    background-color: cornflowerblue;
    background-color: rgba(200,200,200,0.5);
    width: 100% auto;
}
body{
    overflow-x: hidden;
    width: 100% auto;
}
}